body{
margin: 0px;
padding: 0px;
background-color: black;
}
.header{
	background-color: blue;
	padding: 44px;
	text-align: center;
	font-size: 80px;
	font-family: cursive;
	color: #fff;
}
.container{
	color: #fff;
	text-align: center;
	font-size: 30px;

}
nav{
	margin: 176px;
	display: grid;
	width:92px;
	padding: 144px;
	padding-top: 175px;
	margin-left: -147px;
}
nav ul{
	margin: -66px;
	margin-left:2px;
	background-color:#fff;
	height: 445px;
	text-align: left;
	line-height:3;
	margin-top: -422px;
}
nav a{
	color:black ;

	float: left;
	font-size: x-large;
	font-family: cursive;
	text-decoration: none;
}
a:hover{
	background-color: gold;
}
p{
	font-size: 17px;
	color:#fff;
	text-align: center;
	font-family: cursive;
	margin-inline-start: 66px;
}
h3{
	color: #fff;
	font-size: 30px;
	font-family: cursive;
}
form{
    padding-right: 623px;
    padding-inline-start:86px;
    height: 21px;
    margin: 76px;
}
img{
	width:470px;
}
.image{
	margin-top: -650px;

}
.footer{
	background-color: blue;
	padding: 15px;
}
h4{
	margin-right: 143px;
	margin-left: 16px;
	font-size: 20px;

}
h1{
	padding: 0px;
}

